In [5]:
#if statement
x=10
if(x<15):
    print("Happy Holi")
else:
    print("Happy Diwali")

Happy Holi

In [6]:
x=20
if(x<15):
    print("Happy Holi")
else:
    print("Happy Diwali")

Happy Diwali

In [7]:
x=10;
if(x<15):
    x=x+7;
    print(x);
else:
    x=x-4;
    print(x);

17

In [8]:
x=40;
if(x<15):
    x=x+7;
    print(x);
else:
    x=x-4;
    print(x);

36

In [9]:
x=20
if(x%2==0):
    print(x, "is an even num")
else:
    print(x, "is an odd num")

20 is an even num

In [10]:
x=21
if(x%2==0):
    print(x, "is an even num")
else:
    print(x, "is an odd num")

21 is an odd num

In [14]:
x=20
if(x<25):
print("Hello")
else:
   print("Bye")

IndentationError: expected an indented block after 'if' statement on line 2 (4027829712.py, line 3)

In [15]:
x=3
if(x==3):
    print(x)
    print(x+2)
else:
    print(x+10)
    if(x+2==4):
        print(x+20)
    else:
        print(x-1)

3
5

In [16]:
x=2
if(x==3):
    print(x)
    print(x+2)
else:
    print(x+10)
    if(x+2==4):
        print(x+20)
    else:
        print(x-1)

12
22

In [18]:
x=2
if(x%2==0):
    print(x, "is divisible by 2")
elif(x%3==0):
    print(x, "is divisible by 3")
elif(x%4==0):
    print(x, "is divisible by 4")
elif(x%5==0):
    print(x, "is divisible by 5")
else:
    print(x, "is not divisible by 2/3/4/5")

2 is divisible by 2

In [25]:
x=1
if(x>10 and x<20):
    print(x, "is between 10 and 20")
elif(x>0 and x<10):
    print(x, "is between 0 and 10")
else:
    print(x, "is greater than 20")

1 is between 0 and 10

In [26]:
#for loop
x=[10,20,30,40,50,60,70,80,120]
for i in x:
    print(i)

10
20
30
40
50
60
70
80
120

In [28]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
x=20
for i in range(5,x+1):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [38]:
#factorial
abc = 1
for i in range(1,6):
    abc=abc*i;

print(abc)

120

In [41]:
abc=[]
for i in range(1,20):
    abc.append(i)
print(abc)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
x=1;
while x<15:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [43]:
x=30;
while x>5:
    print(x)
    x=x-1

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6

In [45]:
#continue statement
x=5
while x<15:
    x=x+1;
    if(x==9):
        continue;
    print(x)

6
7
8
10
11
12
13
14
15

In [46]:
x=5
y=3
z=x+y
print(z)

8

In [48]:
x=input("Enter a value:")
y=input("Enter another value")
z=int(x)+int(y)
print("sum of the two number is:", z)

Enter a value: 12
Enter another value 12

sum of the two number is: 24

In [53]:
x=int(input("Enter a value for factorial"))
abc = 1
for i in range(1,x+1):
    abc=abc*i;

print("factorial of", x, "is", abc)

Enter a value for factorial 3

factorial of 3 is 6

In [58]:
x=int(input("Enter a range for fibinocci series:"))
a=0
b=1
for i in range(0,x):
    if (i<=1):
        pqr=i
    else:
        pqr=a+b
        a=b
        b=pqr
    print(pqr)

Enter a range for fibinocci series: 12

0
1
1
2
3
5
8
13
21
34
55
89